<div class="header"><h2>Configuration</h2></div>

<mat-tab-group>
    <mat-tab label="Node Config">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Amount of Nodes">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Amount of Constrained Nodes">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Percentage of Malcious Nodes"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Percentage of Poor Witness Nodes">
        </mat-form-field>
      </div>
    </mat-tab>

    <mat-tab label="Model Config">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Max Trust">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Eta (η)">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Theta (θ)"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Lambda (λ)">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="dSMAX">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="dCMAX">
        </mat-form-field>
      </div>
    </mat-tab>
</mat-tab-group>
